# Requires Python >=3.11
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
Flask==3.0.3
idna==3.8
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.9.0
urllib3==2.2.2
flask_cors==6.0.2
python-dotenv==1.2.1
