table {
  border-collapse: collapse;
  width: 80%;
}

th {
  border: 1px solid black;
  padding: 8px;
  color: black;
  background-color: #f0f0f0; /* Light gray for headers */
}

td {
  border: 1px solid black;
  padding: 7px;
  color: black;
}
