@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  text-align: center;
  background-image: url("./assets/ice.jpg");
}

h1 {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  line-height: 1.1;
  color: blue;
  margin: 3 auto;
}

#bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#input {
  width: 400px;
  margin: 0 auto;
}
