@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  line-height: 1.1;
  color: blue;
  margin: 3 auto;
}
