name: E2E Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.0"
      - name: Change root directory
        run: cd frontend
      - name: Install deps
        run: npm ci
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Build
        run: npm run build
      - name: Run tests
        run: npm run test
